[data-komc] {
  &.tiptap,
  .tiptap {
    max-width: none;
    outline: none;
    position: relative;

    & :first-child {
      margin-top: 0;
    }

    & :last-child {
      margin-bottom: 0;
    }

    &.resize-cursor {
      cursor: col-resize;
    }

    & :where(strong) {
      color: inherit;
    }

    & [data-align='left'] {
      text-align: left;
    }
    & [data-align='center'] {
      text-align: center;
    }
    & [data-align='right'] {
      text-align: right;
    }

    &.resize-cursor:has(table .selectedCell) {
      cursor: inherit;
    }

    & table:has(.selectedCell) .column-resize-handle {
      display: none;
    }

    & table {
      max-width: 100%;
      position: relative;

      & td,
      & th {
        border: 1px solid #dddddd;
        box-sizing: border-box;
        min-width: 1em;
        padding: 6px 8px;
        position: relative;
        vertical-align: top;

        & > * {
          margin-top: 0;
          margin-bottom: 0;
        }
      }

      & th {
        background-color: #f8f8f9;
        font-weight: 700;
        text-align: left;
      }

      & th.active-cell,
      & td.active-cell {
        outline: 1.5px solid #08f;
        outline-offset: -1px;
        border-radius: 3px;
      }

      & th.selectedCell.active-cell,
      & td.selectedCell.active-cell {
        outline: none;
        border-radius: 0;
      }
    }

    & .table-col-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      padding: 0;
      border: 1px solid #cccccc;
      border-radius: 4px;
      background: white;
      top: -24px;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      position: absolute;
      z-index: 10;

      &:hover {
        background-color: #f8f8f9;
      }
    }

    & .table-row-control {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      padding: 0;
      border: 1px solid #cccccc;
      border-radius: 4px;
      background: white;
      top: 50%;
      left: -24px;
      transform: translateY(-50%);
      cursor: pointer;
      position: absolute;
      font-weight: 500;
      z-index: 10;

      &:hover {
        background-color: #f8f8f9;
      }
    }

    & .column-resize-handle {
      position: absolute;
      top: 0;
      right: -1px;
      bottom: -2px;
      width: 4px;
      background-color: #08f;
      pointer-events: none;
      animation: komc-column-resize-handle-fade-in 200ms ease-out;
    }

    & .column-resize-handle.resize-handle-stable {
      animation: none;
      opacity: 1;
    }

    & .details {
      display: flex;
      gap: 0.25em;
      margin: 1.25em 0;

      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }

      & summary {
        list-style: none;
      }

      & > button {
        display: flex;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        background: transparent;
        width: 2.25em;
        height: 2.25em;
        font-size: 0.625em;
        margin-top: 0.25em;
        border-radius: 4px;

        &:hover {
          background-color: #fafafa;
        }

        &::before {
          content: '\25B6';
          transition: transform 0.15s ease;
        }
      }

      &.is-open > button::before {
        transform: rotate(90deg);
      }

      & > div {
        display: flex;
        flex-direction: column;
        gap: 1em;
        width: 100%;
      }
    }

    & .node-imageUploader {
      margin-block: 1rem;
    }
  }

  &.editor-wrapper,
  .editor-wrapper {
    & .editor-title {
      font-weight: 500;
      margin-bottom: 24px;
      border-bottom: 2px solid #e6ebfe;

      & + p {
        margin-top: 0;
        margin-bottom: 0;
      }

      & + * + img {
        margin-top: 0 !important;
      }
    }

    & * + .editor-title {
      margin-top: 36px;
    }

    &:focus-within .tiptap .selectedCell::after {
      content: '';
      position: absolute;
      inset: 0;
      background: #eeeeee;
      opacity: 0.9;
      pointer-events: none;
      z-index: 2;
      box-shadow: 0 0 0 1px #4770ff;
    }
  }

  &.column-resize-handle-ghost,
  .column-resize-handle-ghost {
    position: absolute;
    background-color: #08f;
    pointer-events: none;
    animation: komc-column-resize-handle-fade-out 200ms ease-out forwards;
  }
}

@keyframes komc-column-resize-handle-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes komc-column-resize-handle-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
