@layer theme, base, components, utilities;

@import 'tailwindcss/theme.css' layer(theme) prefix(komc);
@import 'tailwindcss/utilities.css' layer(utilities) prefix(komc);

/* Tailwind Preflight */
@layer base {
  [data-komc],
  [data-komc] :is(*, ::after, ::before, ::backdrop, ::file-selector-button) {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
  }

  [data-komc] hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  [data-komc] abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  [data-komc] :is(h1, h2, h3, h4, h5, h6) {
    font-size: inherit;
    font-weight: inherit;
  }

  [data-komc] a {
    color: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  [data-komc] :is(b, strong) {
    font-weight: bolder;
  }

  [data-komc] :is(code, kbd, samp, pre) {
    font-family: --theme(
      --default-mono-font-family,
      ui-monospace,
      SFMono-Regular,
      Menlo,
      Monaco,
      Consolas,
      'Liberation Mono',
      'Courier New',
      monospace
    );
    font-feature-settings: --theme(
      --default-mono-font-feature-settings,
      normal
    );
    font-variation-settings: --theme(
      --default-mono-font-variation-settings,
      normal
    );
    font-size: 1em;
  }

  [data-komc] small {
    font-size: 80%;
  }

  [data-komc] :is(sub, sup) {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  [data-komc] sub {
    bottom: -0.25em;
  }

  [data-komc] sup {
    top: -0.5em;
  }

  [data-komc] table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  [data-komc] :-moz-focusring:where(:not(iframe)) {
    outline: auto;
  }

  [data-komc] progress {
    vertical-align: baseline;
  }

  [data-komc] summary {
    display: list-item;
  }

  [data-komc] :is(ol, ul, menu) {
    list-style: none;
  }

  [data-komc] :is(img, svg, video, canvas, audio, iframe, embed, object) {
    display: block;
  }

  [data-komc] :is(img, video) {
    max-width: 100%;
    height: auto;
  }

  [data-komc] :is(button, input, select, optgroup, textarea),
  [data-komc] ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
  }

  [data-komc] :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  [data-komc] :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  [data-komc] ::file-selector-button {
    margin-inline-end: 4px;
  }

  [data-komc] ::placeholder {
    opacity: 1;
  }

  @supports (not (-webkit-appearance: -apple-pay-button)) or
    (contain-intrinsic-size: 1px) {
    [data-komc] ::placeholder {
      color: color-mix(in oklab, currentcolor 50%, transparent);
    }
  }

  [data-komc] textarea {
    resize: vertical;
  }

  [data-komc] ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  [data-komc] ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  [data-komc] ::-webkit-datetime-edit {
    display: inline-flex;
  }

  [data-komc] ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  [data-komc]
    :is(
      ::-webkit-datetime-edit,
      ::-webkit-datetime-edit-year-field,
      ::-webkit-datetime-edit-month-field,
      ::-webkit-datetime-edit-day-field,
      ::-webkit-datetime-edit-hour-field,
      ::-webkit-datetime-edit-minute-field,
      ::-webkit-datetime-edit-second-field,
      ::-webkit-datetime-edit-millisecond-field,
      ::-webkit-datetime-edit-meridiem-field
    ) {
    padding-block: 0;
  }

  [data-komc] ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  [data-komc] :-moz-ui-invalid {
    box-shadow: none;
  }

  [data-komc]
    :is(button, input:where([type='button'], [type='reset'], [type='submit'])),
  [data-komc] ::file-selector-button {
    appearance: button;
  }

  [data-komc] :is(::-webkit-inner-spin-button, ::-webkit-outer-spin-button) {
    height: auto;
  }

  [data-komc][hidden]:where(:not([hidden='until-found'])),
  [data-komc] [hidden]:where(:not([hidden='until-found'])) {
    display: none !important;
  }
}
